<div class="flight-content">
  <h1 class="page-title">Flights</h1>
  <div class="flight-search">
    <form #flightForm="ngForm" (ngSubmit)="searchFlights(flightForm)" novalidate>
      <button>Search</button>
      <input type="text" id="departure" class="form-control" placeholder="7:30 AM" required name="departure" [(ngModel)]="departure"
        #flight="ngModel">
      <div *ngIf="flight.errors && flight.dirty" class="alert alert-danger">
        <div [hidden]="!flight.errors.required">
          Departure is required.
        </div>
      </div>
    </form>
  </div>
  <ul class="flight-list">
    <li *ngFor="let flight of flights">
      <div class="flight-row">
        <span class="flight-title">
          {{flight.flight}}
        </span>
      </div>
    </li>
  </ul>
  <div class="no-flights" *ngIf="flights && flights.length == 0">
    <p>No flights Found!</p>
  </div>
</div>
