<mat-card>
    <h1>Flights</h1>
    <form #flightForm="ngForm" (ngSubmit)="searchFlights(signupForm)">
        <mat-form-field>
            <input matInput 
                type="text" 
                id="departure" 
                placeholder="7:30AM" 
                required 
                name="departure" 
                [(ngModel)]="departure"
                #flight="ngModel">
        </mat-form-field>
        <div *ngIf="flight.errors && flight.dirty">
            <div [hidden]="!flight.errors.required">Departure is required.</div>
        </div>
        <button mat-raised-button color="primary" [disabled]="departure">Search</button>    
    </form>
    <ul>
        <li *ngFor="let flight of flights">
            <div>
                <span>{{flight.flight}}</span>
            </div>
        </li>
    </ul>
    <div *ngIf="flights && flights.length == 0">
        <p>No flights Found!</p>
    </div>
</mat-card>